.container{
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.panel{
    width: 40vw;
    height: 60vh;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.seeWhatsHappening{
    font-size: 48pt;
}

.signupButton{
    border-radius: 50px;
    color: white;
    background-color: #3690ED;
    font-size: 14pt;
    font-weight: bolder;
    border: none;
    margin-bottom: 50px;
}

.signinButton{
    border-radius: 50px;
    color: #3690ED;
    background-color: #151D27;
    font-size: 14pt;
    font-weight: bolder;
    border: 2px solid gray;
}

.signupButton:hover,.signinButton:hover{
    cursor: pointer;
}

.signupButton,.signinButton{
    width: 50%;
    height: 5vh;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* Ensure the overlay is on top of other elements */
  }

  